p {
  margin: 0px;
}

button {
  padding: 5px 10px 5px 10px;
  margin: 10px;
  font-size: 1.2rem;
}

input {
  font-size: 1.5rem;
}

input::placeholder {
  color: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

.date {
  margin-top: 40px;
}

.slider-parent {
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

/* .App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2rem;
}
input::placeholder {
  color: black;
} */
